h1{
    text-align: center;
    font-size: 65px;
    font-family: 'Impact';
    font-weight: 400;
    color: green;
}

h2{
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    font-family: 'Impact';
    color: green;
}

#popeye{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}

.parag{
    margin-top: 30px;
    font-weight:400;
    text-align: center;
    font-family: 'Impact';
    font-size: 30px;
    color: green;
}

body{
    background-color: black;
}

/*Tabela*/
table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
}

th {
    background: linear-gradient(yellow,green);
    border-radius: 30px;


}

td, th {
    text-align: center;
    font-size: 25px;
    font-family: 'Impact';
    padding: 9px 15px;
    border: 5px solid yellowgreen;
    border-style:outset;
    border-radius: 15px;
    font-weight: 50;
    letter-spacing: 1.5px;
    color: rgb(5, 51, 29);
    background-color: aliceblue;
}

/*Imagem*/
#food{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 20px;
}

/*Fomulário*/
.box{
    border-radius: 30px;
    border: 10px solid yellowgreen;
    border-style:outset;
    background-color: aliceblue;

}

.form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 40%; 
}

.itens{
    font-size: 25px;
}
#proteina{
    margin-top: 15px;
    font-size: 20px;
}
#carb{
    font-size: 20px; 
}

.quant{
    font-size: 22px;
}
.qt{
    font-size: 20px;
}

.input{
    font-size: 25px;
}
.inputbox{
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}

#qhora{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    margin-bottom: 10px;
}
#hora{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

#pecaja{
    width: 38%;
    background: green;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 10px;
}

#pecaja:hover{
    background: greenyellow;
    transform: scale(1.5);
}


.botoes{
    width: 20%;
    background: green;
    color: black;
    font-weight: bolder;
    font-size: 25px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.botoes:hover{
    background: greenyellow;
    transform: scale(1.5);
}

a:link{
    text-decoration: none;
}


.rodape{
    margin-top: 15px;
    text-align: center;
    color: lightgreen;
    font-size: 20px;  
}